{% extends 'frontend/base/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static  'css/manageyourcar/manageyourcar.css' %}">
{% endblock %}
{% block content %}
    <div class="body-content">
        {% if car_list.count <= 0 %}
            <p style="color:red">You don't have any car listed now.</p>
        {% else %}
            <table class="table ">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Car Name</th>
                    <th scope="col">Model</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for car_list in car_list %}
                    <tr>

                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ car_list.name }}</td>
                        <td>{{ car_list.model }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-manage btn-managecar dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'website:EditYourCar' car_list.id %}">Edit</a>

                                    <a class="dropdown-item" href="{% url 'website:DeleteMyCarList' car_list.id %}"
                                       onclick="return confirm('Are you sure you want to delete this?')">Delete </a>


                                </div>
                            </div>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}