{% extends 'frontend/base/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/postyourcar/change_password.css' %}">
{% endblock %}
{% block content %}
    <div class="container change_passwordcontainer">
        <div class="panel panel-default">

            <div class="panel-body">

                <form action="{% url 'website:change_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" class="form-control" aria-describedby="emailHelp"
                               name="current_password" placeholder="Current Password" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" class="form-control" name="new_password" id="new_password" required
                               placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                               placeholder="Confirm Password" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).on("change blur", "#new_password", "#confirm_password", function () {
            var pass1 = $("#new_password").val();
            var pass2 = $("#confirm_password").val();

            if (pass1.length < 6) {
                $("#new_password").val('');
                swal("Error!", "Your password must contain at least 6 characters.", "error");
            }


        });
    </script>

{% endblock %}