{% load static %}
<!DOCTYPE html>
<style>
    .form-gap {
        padding-top: 70px;
    }

    .name {
        width: 100% !important;
    }
</style>
<html>
<head>

    <title>Car Website | Forgot Password </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static '/bower_components/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">

    <link rel="stylesheet" href="{% static 'login/login.css' %}">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
   <script>
        $(function () {
            $('body').on('keydown', '.onlynumber', function (e) {
                -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault()
            });
        });
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {#<script src="{% static 'js/bootstrap/js/bootstrap.js' %}"></script>#}
    {#<script src="{% static 'js/bootstrap/js/bootstrap.bundle.js' %}"></script>#}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <script>
                $(document).ready(function () {
                    swal("Great!", "{{ message }}", "success");
                });
            </script>
        {% elif  'error' in message.tags %}
            <script>
                $(document).ready(function () {
                    swal("Error!", "{{ message }}", "error");
                });
            </script>
        {% elif 'info' in message.tags %}
            <script>
                $(document).ready(function () {
                    swal("Info!", "{{ message }}", "info");
                });
            </script>
        {% else %}
            <script>
                $(document).ready(function () {
                    swal("Warning!", "{{ message }}", "warning");
                });
            </script>
        {% endif %}
    {% endfor %}



    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
<div class="form-gap"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form action="." role="form" autocomplete="off" class="form" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group name">

                                        <input name="check_otp" placeholder="Enter OTP" class="form-control onlynumber"  >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
{#                                        <div class="col-md-6">#}

                                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                                   value="Submit" type="submit">
{#                                        </div>#}
{#                                        <div class="col-md-6">#}
{##}
{#                                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block"#}
{#                                                   value="Resend" type="submit">#}
{#                                        </div>#}
                                    </div>
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>